@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.primary-accent-indicators {
  color: #ff4d00;
  font-weight: 700;
}
